language: java
jdk: oraclejdk8
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: true
script:
- ./gradlew check
deploy:
- provider: script
  skip_cleanup: true
  script: 
  - ./gradlew publish & true
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: 
  - ./gradlew deploy
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: 
  - ./deploy.sh
  on:
    branch: develop

