language: java
jdk: oraclejdk8
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: true
script:
- ./gradlew check
deploy:
- provider: script
  skip_cleanup: true
  script: 
  - ./gradlew publish & true
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: 
  - ./gradlew deploy
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script: 
  - './gradlew testFail;
      if [ "$?" = "0" ]; 
        then echo test successful, deploying to prod; ./gradlew deploy; 
        else echo test failed, undeploying; ./gradlew undeploy; exit 1; 
      fi;'
  on:
    branch: develop
